<blockquote class="twitter-tweet" data-lang="zh-tw"><p lang="ja" dir="ltr">ウエディングドレスの様な感じにヾ(*´∀｀*)ﾉ<br>Nikkorのレンズは髪の質感が綺麗すぎる…<a href="https://twitter.com/hashtag/%E3%81%86%E3%81%A1%E3%81%AE%E5%AD%90%E3%81%8B%E3%82%8F%E3%81%84%E3%81%84?src=hash&amp;ref_src=twsrc%5Etfw">#うちの子かわいい</a> <a href="https://t.co/VyAvKwFwRv">pic.twitter.com/VyAvKwFwRv</a></p>&mdash; ごま茶室@12月 浮上率低下 (@goma_tearoom) <a href="https://twitter.com/goma_tearoom/status/887675292763824132?ref_src=twsrc%5Etfw">2017年7月19日</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
